#List

In [ ]:
#1. Write a Python program to sum all the items in a list.
# 2. Write a Python program to multiply all the items in a list.
# 3. Write a Python program to get the largest number from a list.
# 4. Write a Python program to get the smallest number from a list.
# 5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2

In [ ]:
#1. Write a Python program to sum all the items in a list.
a=[1,2,3,4,5,6]
sum=0
for i in a:
  sum+=i
print(sum)

21

In [ ]:
# 2. Write a Python program to multiply all the items in a list.
a=[1,2,3,4,5,6]
mamaa=[]
for i in a:
  print(i*2)

2
4
6
8
10
12

In [ ]:
# 3. Write a Python program to get the largest number from a list.

a=[1,2,3,4,5,6]
print(max(a))
print(min(a))

6
1

In [ ]:
# 4. Write a Python program to get the smallest number from a list.
a=[1,2,3,4,5,6]
print(min(a))

1

In [ ]:
# 5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2
a=['abc', 'xyz', 'aba', '1221']
count=0
for i in a:
  if i[0]==i[-1]:
    count+=1
print(count)

2

#Tuple

In [ ]:
# 1. Write a Python program to create a tuple.
# 2. Write a Python program to create a tuple with different data types.
# 3 .Write a Python program to create a tuple of numbers and print one item.
# 4. Write a Python program to unpack a tuple into several variables.
# 5. Write a Python program to add an item to a tuple.
# 6. Write a Python program to convert a tuple to a string.
# 7. Write a Python program to get the 4th element from the last element of a tuple.
# 8. Write a Python program to create the colon of a tuple.

In [ ]:
# 1. Write a Python program to create a tuple.
a=(1,2,3,4,5,6)#parathensis indicates it is a tuple
print(a)

(1, 2, 3, 4, 5, 6)

In [ ]:
# 2. Write a Python program to create a tuple with different data types.
a=(1,2,3,4,5,"sister","brother")
print(a)

(1, 2, 3, 4, 5, 'sister', 'brother')

In [ ]:
# 3 .Write a Python program to create a tuple of numbers and print one item.
a=(1,2,3,4,5,6)
print(a[2])

3

In [ ]:
#4. Write a Python program to unpack a tuple into several variables.

a = (10, 20, 30)

x, y, z = a   # unpacking the tuple

print(x)
print(y)
print(z)

10
20
30

In [ ]:
# 5. Write a Python program to add an item to a tuple.
t1=(1,2,3,4,5)
t2=list(t1)#convert the tuples values into list
t2.append(6) #after that we adding the value 6 it means append
t1=tuple(t2)# by using the t1 values update to the tuple convert
print(t1)

(1, 2, 3, 4, 5, 6)

In [ ]:
# 6. Write a Python program to convert a tuple to a string.
a = (1, 2, 3, 4, 5, 6)

s = ''.join(str(i) for i in a)
print(s)

123456

In [ ]:
# 7. Write a Python program to get the 4th element from the last element of a tuple.
a=(1,2,3,4,5,6)
print(a[2])

3

In [ ]:
#8. Write a Python program to create the colon of a tuple.

t1 = (10, 20, 30)
t2 = t1[:]

print(t2)

(10, 20, 30)

#set

In [ ]:
# 1. Write a Python program to create a set.
# 2. Write a Python program to iterate over sets
# 3. Write a Python program to add member(s) to a set.
# 4. Write a Python program to remove item(s) from a given set.
# 5. Write a Python program to remove an item from a set if it is present in the set.
# 6. Write a Python program to create an intersection of sets.
# 7. Write a Python program to create a symmetric difference of sets.
# 8. Write a Python program to find the maximum and minimum values in a set.

in set dont allow duplicate values
set is denoted by flower brackets
set is immutable  and unordered

In [ ]:
# 1. Write a Python program to create a set.
a={1,2,3,4,5,6}
print(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
# 2. Write a Python program to iterate over sets
a={1,2,3,4,5,6}
for digits in a:#for each item picks the loop and prints it
  print(digits)

1
2
3
4
5
6

In [ ]:
# 3. Write a Python program to add member(s) to a set.
a={1,2,3,4,5}
a.add(7)
print(a)

{1, 2, 3, 4, 5, 7}

In [ ]:
# 4. Write a Python program to remove item(s) from a given set.
a={1,2,3,4,5}
a.remove(5)
print(a)

{1, 2, 3, 4}

In [ ]:
# 5. Write a Python program to remove an item from a set if it is present in the set.
a={1,2,3,4,5}
a.discard(6)
print(a)

{1, 2, 3, 4, 5}

In [ ]:
# 6. Write a Python program to create an intersection of sets.
a={1,2,3,4,5,6,7}
b={8,9,10,11,12,1}

c=a.intersection(b)
print(c)

{1}

symmetric difference means we cannot get the common values
a={1,2,3}
b={3,4,5}
c=a.symmetric_difference(b)
print(c)
the output will be appear only unique values not repeated values and common values

In [ ]:
# 7. Write a Python program to create a symmetric difference of sets.
a={1,2,4,3}
b={4,5,6,3}
c=a.symmetric_difference(b)
print(c)

{1, 2, 5, 6}

In [ ]:
# 8. Write a Python program to find the maximum and minimum values in a set.
a={1,2,3,4,5,6}
print(max(a))
print(min(a))

6
1

#doubt

a=['abc', 'xyz', 'aba', '1221']
count=0
for i in a:
if i[0]=i[-1]
count+=1
print(count)

In [ ]:
#5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']



#take the given list and assign to a variable
a = ['abc', 'xyz', 'aba', '1221']
#for counting the intialisation count must be zero so take count as a varible and assign it with zero
count = 0
#run a for loop to give the condition  1.The string length is 2 or more for that i have used i is greater than 1 means string must have 2 letters
#2nd  condition:- the first and last characters are the same. for that i am using indexing[0] = indexing[-1] -->last character
for i in a:
  if len(i) > 1 and i[0] == i[-1]:
    count += 1     #count = count + 1
print(count)

2

In [ ]:
#Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

#We can do this one in functions please don't do it


# Define a function called 'last' that takes a single argument 'n' and returns the last element of 'n'
def last(n):
    return n[-1]

# Define a function called 'sort_list_last' that takes a list of tuples 'tuples' as input
def sort_list_last(tuples):
    # Sort the list of tuples 'tuples' using the 'last' function as the key for sorting
    return sorted(tuples, key=last)

# Call the 'sort_list_last' function with a list of tuples as input and print the sorted result
print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

In [ ]:
# 8. Write a Python program to create the colon of a tuple.
a = ("hi",2,4,[],'apple')
#deepcopy
from copy import deepcopy
a_colon = deepcopy(a)

a_colon[3].append(8)

print(a_colon)

('hi', 2, 4, [8], 'apple')

In [ ]:
e = (1,2,3,4)
a,b,c,d = e
print(e[0])
print

1

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
new = []
for i in a:
  new.append(i*2)
print(new)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

a=[1,2,3,4,5,6,7,8]
for i in a:
print(i*2)

In [ ]:
for i in a:
  print(i*2,end=",")

2,4,6,8,10,12,14,16,18,

In [ ]:
total = 1
for i in a:
  total = total*i
print(total)

720